IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gd" 73;
IO_PORT "gd" IO_TYPE=LVCMOS33;
IO_LOC  "fd" 72;
IO_PORT "fd" IO_TYPE=LVCMOS33;
IO_LOC  "ed" 71;
IO_PORT "ed" IO_TYPE=LVCMOS33;
IO_LOC  "dd" 70;
IO_PORT "dd" IO_TYPE=LVCMOS33;
IO_LOC  "cd" 69;
IO_PORT "cd" IO_TYPE=LVCMOS33;
IO_LOC  "bd" 68;
IO_PORT "bd" IO_TYPE=LVCMOS33;
IO_LOC  "ad" 57;
IO_PORT "ad" IO_TYPE=LVCMOS33;
IO_LOC  "gu" 56;
IO_PORT "gu" IO_TYPE=LVCMOS33;
IO_LOC  "fu" 55;
IO_PORT "fu" IO_TYPE=LVCMOS33;
IO_LOC  "eu" 54;
IO_PORT "eu" IO_TYPE=LVCMOS33;
IO_LOC  "du" 53;
IO_PORT "du" IO_TYPE=LVCMOS33;
IO_LOC  "cu" 51;
IO_PORT "cu" IO_TYPE=LVCMOS33;
IO_LOC  "bu" 42;
IO_PORT "bu" IO_TYPE=LVCMOS33;
IO_LOC  "au" 41;
IO_PORT "au" IO_TYPE=LVCMOS33;
IO_LOC  "dg" 25;
IO_PORT "dg" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "cg" 26;
IO_PORT "cg" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "bg" 27;
IO_PORT "bg" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "ag" 28;
IO_PORT "ag" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "led[0]" 10;
IO_PORT "led[0]" IO_TYPE=LVCMOS18 DRIVE=8;
IO_LOC  "led[1]" 11;
IO_PORT "led[1]" IO_TYPE=LVCMOS18 DRIVE=8;
IO_LOC  "led[2]" 13;
IO_PORT "led[2]" IO_TYPE=LVCMOS18 DRIVE=8;
IO_LOC  "led[3]" 14;
IO_PORT "led[3]" IO_TYPE=LVCMOS18 DRIVE=8;
